:root {
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --Grayish-blue : hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
body {
    background-color: var(--white);
    font-family: poppins;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  margin-left: 12rem;
  margin-right: 12rem;
}

.topic {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  color: var(--Grayish-blue);
    font-size: 2rem;
    font-weight: 200;
}

.title-0 {
  color: var(--very-dark-blue);
  font-size: larger;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.small-text {
  color: var(--Grayish-blue);
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.four-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  align-items: center;
}

.card {
  background-color: var(--white);
  box-shadow: 0px 0.4rem 1rem 0rem var(--Grayish-blue);
  height: fit-content;
  border-radius: 0.2rem;
  margin-top: 1rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease ;
}

.card:hover {
  box-shadow: none;
  border-bottom:1px dashed var(--Grayish-blue);
  border-left:1px dashed var(--Grayish-blue);
  border-right:1px dashed var(--Grayish-blue);
}

.bor-0 {
  border-top: 3px solid var(--cyan);
}

.bor-1 {
  border-top: 3px solid var(--red);
}

.bor-2 {
  border-top: 3px solid var(--Orange);
}

.bor-3 {
  border-top: 3px solid var(--blue);
}

main .center {
  display: flex;
  flex-direction: column;
}

div>img {
  display: flex;
  width: 3rem;
  height: 3rem;
  margin-left:80%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 500px){
  
  .container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }

  main .four-cards {
    display: block;
    gap: 1.6rem;
    padding-top: 1rem;
  }  
  
  .card {
    margin-top: 1rem;
    padding: 1.2rem;
  }

}
